h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: Arial;
  font-size: 40px;
}

h2 {
  font-family: Verdana;
  font-size: 30px;
}

nav {
  background-color: #006060;
}

nav a {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: lime;
  background-color: #202020;
  text-decoration: none;
  padding: 4rem 10px;
  border-radius: 6px;
}

nav a:hover {
  background-color: #101010;
  text-shadow: 0 0 10rem aqua;
}

.nav-selected {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: #204060;
  text-decoration: none;
  padding: 4rem 10px;
  border-radius: 6px;
}

nav form {
  display: inline-block;
}

article {
  font-size: 16px;
  line-height: 1.5;
}

aside {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  font-size: 16px;
}
